@use "sass:color";

@use "../../customs" as *;

.media-cont-one {
	align-items: center;
	margin-top: 3em;
	margin-bottom: 3em;
	display: flex;
	justify-content: center;
	gap: 50px;

	@media screen and ($small) {
		margin-top: 1em;
	}

	.music {
		background-color: color.scale($primary-color, $lightness: 2.5%);
		outline: 1px solid color.adjust($primary-color, $lightness: 10%);
		color: $white-color;
		flex: 25%;
		max-width: 450px;
		border-radius: 5px;
		position: relative;
		padding: 1.5em;

		@include box-shadow;

		@media screen and ($large) {
			width: 450px;
			max-width: 100%;
			flex: 100%;
		}

		@media screen and ($small) {
			padding: 1em;
		}
	}

	.news {
		flex: 30%;
		max-width: 600px;

		@include box;

		a {
			@include page-link;

			svg {
				margin-left: 0.5em;
				font-size: 0.75rem;
				vertical-align: super;
			}
		}

		iframe {
			@media screen and ($small) {
				height: 225px;
			}
		}
	}

	@media screen and ($large) {
		flex-direction: column-reverse;
	}
}

.videos {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	background-color: #80808010;
	text-align: center;

	@include box;

	> iframe:not(:last-child) {
		margin-bottom: rem-calc(16);
	}
}

.photos {
	max-width: 1200px;
	margin: 0 auto;
	background-color: color.adjust($lightgrey-color, $lightness: 10%);

	@include box;

	hr {
		margin: 3em 0 2em;
		background-color: $white-color;

		@media screen and ($medium) {
			margin: 1.5em 0 1.25em;
		}
	}
}
