@use 'sass:color';

@import '../configs/globals';

.collapsible {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	gap: 15px;
	background: linear-gradient(
		45deg,
		$primaryColor,
		color.scale($primaryColor, $lightness: 25%)
	);
	border-radius: 10px 10px 0 0;
	padding: 1em;
	flex-wrap: wrap;
	max-width: 1000px;
	margin: 0 auto;

	&-container {
		display: flex;
		flex-direction: column;
	}

	&-btns {
		button {
			cursor: pointer;
			background: $whiteColor;
			color: $primaryColor;

			border-radius: 5px;
			overflow: hidden;
			font-weight: 700;

			display: flex;
			align-items: center;
			justify-content: center;

			gap: 1em;

			outline: 2px solid transparent;

			&.active-button {
				outline-color: $linkColor;

				> span {
					border-right: 2px color.scale($linkColor, $lightness: 25%) solid;
				}
			}

			&:hover {
				outline-color: color.scale($linkColor, $lightness: 10%);

				> span {
					border-right: 2px color.scale($linkColor, $lightness: 10%) solid;
				}
			}

			> span {
				background: $secondaryColor;
				border-right: 2px color.scale($primaryColor, $lightness: 25%) solid;
				padding: 0.375em 1em;
				font-weight: lighter;
			}

			> p {
				padding-right: 1em;
				font-weight: lighter;
				font-size: 1rem;
			}

			@media screen and ($extraSmall) {
				p {
					font-size: 0.9rem;

					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					width: 150px;
				}

				span {
					font-size: 0.9rem;
				}
			}
		}
	}

	&-images {
		display: flex;
		justify-content: center;
		gap: 15px;
		margin-top: 1em;

		img {
			border-radius: 5px;
			border: 1px solid $whiteColor;
			overflow: hidden;
		}
	}

	// animation: move-left-to-right 10s linear infinite;

	// @keyframes move-left-to-right {
	// 	0% {
	// 		transform: translateX(100%);
	// 	}

	// 	100% {
	// 		transform: translateX(-100%);
	// 	}
	// }
}

.content {
	max-height: 0;
	overflow: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	border-bottom: 1px solid $primaryColor;
	border-left: 1px solid $primaryColor;
	border-right: 1px solid $primaryColor;
	border-radius: 0 0 10px 10px;
	color: $primaryColor;

	background: linear-gradient(
		45deg,
		$smokeColor,
		color.scale($smokeColor, $lightness: 100%)
	);

	span {
		display: block;
		margin-top: 1em;
	}

	button {
		@include buttonStyle(
			$primaryColor,
			$whiteColor,
			$primaryColor,
			$secondaryColor
		);

		margin-top: 1em;
		margin-left: auto;
	}
}

.open {
	max-height: fit-content;
	padding: 1.5em 1em;
}
