@use 'sass:color';

@import '../configs/globals';

.actual-container {
	margin: 2em 0;

	> h2 {
		text-align: center;
	}

	> ul {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 3em;

		> li {
			outline: 1px solid color.adjust($transGrey, $alpha: -0.7);
			border-radius: 15px;
			overflow: hidden;
			max-width: 375px;
			position: relative;

			@media screen and ($large) {
				max-width: fit-content;
			}

			@include baseTransition(all);
			@include boxShadow;

			&:hover {
				outline-color: $tertiaryColor;
			}

			&:active {
				outline-color: $linkColor;
			}

			img {
				width: 100%;
				border-bottom: 1px solid color.adjust($transGrey, $alpha: -0.75);
				height: 300px;
				object-fit: cover;
			}

			div {
				padding: 1em;

				span {
					position: absolute;
					top: 15px;
					right: 15px;
					background-color: $primaryColor;
					color: $whiteColor;
					padding: 0.25em 0.5em;
					border-radius: 5px;
				}

				> h3 {
					display: inline;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
					min-height: 3em;

					a {
						color: $tertiaryColor;
					}
				}

				p {
					display: -webkit-box;
					max-width: 95%;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					overflow: hidden;
					margin: 0 0 2em;
					font-size: 1.05rem;
				}

				hr {
					height: 3px;
					border-width: 0;
					color: color.adjust($transGrey, $alpha: -0.9);
					background-color: color.adjust($transGrey, $alpha: -0.9);
					margin: 1em 0;
				}

				time {
					float: right;
					font-size: 0.9rem;
				}
			}
		}
	}
}
