@use 'sass:color';

@import '../configs/globals';

.component {
	.loading-btn {
		margin-left: auto;

		@include buttonStyle(
			$tertiaryColor,
			$whiteColor,
			$tertiaryColor,
			$secondaryColor
		);
	}

	.music-info {
		display: flex;
		flex-direction: column;

		@media screen and ($large) {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			gap: 2em;
			margin-bottom: 2em;
		}

		.album-cover {
			margin-bottom: 1.5em;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			@media screen and ($large) {
				margin-bottom: 0;
			}

			img {
				width: 100%;
				max-width: 250px;
				height: auto;
				object-fit: cover;
				object-position: center;
				border-radius: 5px;
				padding: 1em 0;
				outline: #101334 1px solid;

				@include boxBottomShadow;

				@media screen and ($large) {
					max-width: 100px;
				}
			}
		}

		.artist-info {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		.title {
			text-align: center;
			font-size: 2rem;
			margin-bottom: 0;
		}

		.sub-title {
			text-align: center;
			font-size: 1.25rem;
		}
	}

	.controls {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2em;
		margin: 2em 0 0;

		@media screen and ($large) {
			margin: 0.5em 0 0;
		}
	}

	.control {
		&-button {
			font-size: 3.25em;
			color: $whiteColor;
			cursor: pointer;

			@include baseTransition(all);

			&:hover {
				color: color.adjust($tertiaryColor, $lightness: 10%);
			}

			&:active {
				color: color.adjust($tertiaryColor, $lightness: 2.5%);
			}
		}

		&-volume {
			position: absolute;
			right: 0;
			bottom: 13.75em;
			height: 0;

			@media screen and ($large) {
				display: none;
			}

			> i {
				text-align: center;
				margin: 0 auto;
				font-size: 1.5em;
				position: absolute;
				right: 2em;
				bottom: -3.75em;
				padding-top: 1em;
				width: 30px;
				cursor: pointer;
			}

			> span {
				position: absolute;
				right: 3.1em;
				bottom: 4.75em;
				width: 30px;
				text-align: center;
				opacity: 0;
			}

			input[type='range'] {
				transform: rotate(270deg);
				position: relative;
				bottom: 30px;
				outline: none;
				opacity: 0;

				@include baseTransition(all);

				&::-webkit-slider-runnable-track {
					position: relative;
					border-radius: 2px;
					cursor: pointer;
					background: $whiteColor;
					height: 5px;
				}

				&::-webkit-slider-thumb {
					margin-top: -10px;
				}
			}

			&:hover {
				> span {
					opacity: 1;
				}

				input[type='range'] {
					opacity: 1;
				}
			}
		}
	}

	.time {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 0.75em;
		margin: 0.5em 0;

		> span {
			font-weight: 600;
		}

		> p {
			font-size: 0.75rem;
			color: $whiteColor;
			text-align: center;
			margin: 1em 0;
		}

		&line {
			max-width: 100%;
			padding: 0 0.5em;
			margin-bottom: 1.5em;

			@media screen and ($large) {
				margin-bottom: 1em;
			}

			> input {
				width: 100%;
				height: 5px;
				background: color.adjust($whiteColor, $lightness: -10%);
				border-radius: 2px;
				cursor: pointer;
			}
		}
	}
}
