@use 'sass:color';

@import '../configs/globals';

section {
	> nav {
		> .breadcrumb-list {
			display: flex;
			align-items: center;
			gap: 15px;
			background: $primaryColor;

			@include boxShadow;

			white-space: nowrap;

			padding: 0.5em 1em 0.6em;
			border-radius: 5px;

			@media screen and ($small) {
				padding: 0.25em 0.75em 0.325em;
				margin-bottom: 17.5px;
				gap: 10px;
			}

			> li {
				display: block;
				line-height: 21.5px;

				&:not(:last-child)::after {
					content: '\f0da';
					font-family: FontAwesome, sans-serif;
					font-size: 0.75rem;
					margin-left: 1em;
					color: $whiteColor;
					vertical-align: 1px;

					@media screen and ($small) {
						margin-left: 1em;
						font-size: 0.625rem;
						vertical-align: 0;
					}
				}

				> a > i {
					font-size: 1em;
					color: $whiteColor;
					vertical-align: -0.25px;
					margin-right: 0.25em;

					@media screen and ($small) {
						font-size: 1.125em;
					}
				}

				&:last-child {
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;

					font-weight: 600;

					color: $secondaryColor;

					@media screen and ($medium) {
						max-width: 200px;
					}

					@media screen and ($small) {
						font-size: 0.75rem;
						max-width: 125px;
					}

					@media screen and ($superSmall) {
						font-size: 0.75rem;
						max-width: 75px;
					}
				}

				> a {
					color: $whiteColor;
					vertical-align: baseline;

					@media screen and ($small) {
						font-size: 0.75rem;
					}

					&:hover {
						color: color.adjust($tertiaryColor, $lightness: 15%);
					}
				}
			}
		}
	}
}
