@import '../configs/globals';

section {
	> nav {
		position: absolute;
		right: 0;
		top: 0;

		@media screen and ($extraLarge) {
			position: static !important;
			width: fit-content !important;
			margin-bottom: 1em;
		}

		> .breadcrumb-list {
			display: flex;
			align-items: center;
			gap: 15px;
			margin-top: 10px;
			background: $primaryColor;

			padding: 0.5em 1em;
			border-radius: 5px;

			@media screen and ($small) {
				padding: 0.125em 1em 0.375em;
				margin-bottom: 25px;
			}

			> li {
				display: block;

				&:not(:last-child)::after {
					content: '\f0da';
					font-family: 'FontAwesome', sans-serif;
					font-size: 1rem;
					margin-left: 1em;
					color: white;
					vertical-align: middle;
				}

				> span {
					font-weight: 600;
					color: white;
					color: $secondaryColor;

					@media screen and ($small) {
						font-size: 0.75rem;
					}
				}

				> a {
					color: white;

					@media screen and ($small) {
						font-size: 0.75rem;
					}

					&:hover {
						color: $secondaryColor;
					}
				}
			}
		}
	}
}
