@import '../configs/globals';

.page-content {
	&-center {
		max-width: 1250px;
		margin: 3em auto;
		background: #80808010;
		padding: 2.5em 2em;

		@media screen and ($small) {
			padding: 1em;
			margin: 1em auto 3em;

			h2 {
				font-size: 1.75rem;
			}

			h4 {
				font-size: 1.1rem;
			}

			p {
				font-size: 1rem;
			}
		}
	}
}
