@import '../configs/globals';

.page-content {
	&-center {
		max-width: 1250px;
		margin: 3em auto;
		background: #80808010;
		padding: 1.25em;

		@include boxShadow;

		a {
			@include pageLink;
		}

		ul {
			list-style: square;
			margin: initial;
			padding: initial;
			padding-left: 14px;
		}

		i {
			font-style: italic;
		}

		@media screen and ($small) {
			h2 {
				font-size: 1.75rem;
			}

			h4 {
				font-size: 1.1rem;
			}

			p {
				font-size: 1rem;
			}
		}
	}
}
