@use '../customs' as *;

.courses-container {
	> h2 {
		text-align: center;
	}

	> div {
		font-size: 0.95rem;
		max-width: 1000px;
		margin: 0 auto;
		background: #80808010;
		padding: 2.25em 2em;

		display: flex;
		flex-direction: column;
		gap: 1.5em;

		@media screen and ($small) {
			padding: 1em;
		}

		> p > i {
			font-size: 2em;
			margin: 0 0 0.875em 0.875em;
			float: right;

			&:hover {
				@include boxShadow;
			}
		}

		button {
			max-width: 100%;
			width: fit-content;
			margin-left: auto;

			@include buttonStyle(
				$primaryColor,
				$whiteColor,
				$primaryColor,
				$secondaryColor
			);

			span {
				display: block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			@media screen and ($small) {
				margin-top: 1em;
			}
		}

		ul {
			list-style-type: square;
			list-style-position: inside;

			li {
				a {
					color: $linkColor;
					text-decoration: none;
					transition: color 0.2s;
					font-weight: bold;

					&:hover {
						color: $primaryColor;
					}
				}
			}
		}
	}
}
