@import '../configs/globals';

.cta-container {
	position: absolute;
	right: 0;
	top: 0;

	display: flex;
	gap: 15px;
	margin-top: 10px;
	flex-wrap: wrap;

	@media screen and ($superSized) {
		position: static;
		width: 100%;
		justify-content: end;
		margin-bottom: 2em;
	}

	@media screen and ($small) {
		align-items: end;
		margin-left: initial;
	}

	button {
		@include buttonStyle(
			$primaryColor,
			$whiteColor,
			$primaryColor,
			$secondaryColor
		);

		@media screen and ($small) {
			width: fit-content;
		}
	}
}
