@import '../configs/globals';

.footer {
	&-container {
		background-color: $secondaryColor;
		width: 100%;
	}

	&-wrapper {
		max-width: 1800px;
		padding: 1em 2em 1.25em;
		margin: 0 auto;

		@media screen and ($medium) {
			padding: 0 2em 2em;
		}

		@media screen and ($small) {
			padding: 0 1.5em 2em;
		}

		@media screen and ($extraSmall) {
			padding: 0 1em 2em;
		}
	}

	&-upper-banner {
		display: flex;
		justify-content: space-evenly;
		padding: 1.5em 0 2em;
		flex-wrap: wrap;
		gap: 30px;

		@media screen and ($small) {
			justify-content: flex-start;
			padding: 3em 0 2em;
		}

		> div {
			> ul {
				margin-top: 1em;

				> li {
					padding: 0.25em 0;
					display: block;

					> a:hover {
						color: $tertiaryColor;
					}

					> i {
						color: $primaryColor;
						font-size: 1.25rem;
						vertical-align: middle;
						padding-right: 0.5em;
					}
				}
			}
		}
	}

	&-newsletter {
		&-container {
			display: flex;
			flex-direction: column;
			gap: 35px;

			@media screen and ($large) {
				display: flex;
				align-items: center;
				flex-direction: row;
				justify-content: space-evenly;
				width: 100%;
				padding: 1em 0 0;
			}

			@media screen and ($small) {
				flex-direction: column;
			}
		}

		&-wrapper {
			@media screen and ($small) {
				display: block;
				width: 100%;
			}

			form {
				background: $primaryColor;
				color: white;
				padding: 1.5em 2em;
				border-radius: 10px;
				display: flex;
				flex-direction: column;

				@include boxShadow;

				fieldset {
					display: flex;
					flex-direction: column;

					legend {
						font-weight: 600;
						font-size: 1.125rem;
						margin-bottom: 0.75em;
					}

					label {
						padding: 0.5em 0;

						input {
							background: white;
							border-radius: 5px;
							padding: 0.5em 0.75em;
							color: $primaryColor;
							width: 100%;

							@media ($medium) {
								min-width: auto;
								width: 100%;
							}
						}
					}
				}

				button {
					@include buttonStyle(white, $primaryColor, white, $tertiaryColor);

					margin-top: 1em;
					align-self: end;
				}
			}
		}
	}

	&-logo-social {
		display: flex;
		gap: 35px;

		@media screen and ($large) {
			flex-direction: column;
		}

		@media screen and ($small) {
			flex-direction: row;
			justify-content: space-around;
			width: 100%;
		}

		a {
			width: 100%;
			max-width: 100px;

			@media screen and ($large) {
				width: 100%;
				max-width: 125px;
			}

			@media screen and ($small) {
				flex-direction: row;
			}

			&-logo {
				width: 100%;
				height: auto;
				object-fit: contain;
			}
		}
	}

	&-social-icons {
		margin-top: 1em;
		display: flex;
		gap: 15px;

		> li {
			> a {
				> i {
					color: $primaryColor;
					font-size: 1.6rem;
					vertical-align: middle;

					&:hover {
						color: $tertiaryColor;
					}
				}
			}
		}
	}

	&-bottom-banner {
		padding-top: 2em;
		display: flex;
		justify-content: center;

		span {
			text-align: center;
		}
	}
}
