@import '../configs/globals';

.footer {
	&-container {
		background: $secondaryColor;
		background: linear-gradient(
			45deg,
			$secondaryColor,
			scale-color($secondaryColor, $lightness: 25%)
		);
	}

	&-wrapper {
		padding: 3em 2em 0em;

		@include epWrapper;

		@media screen and ($medium) {
			padding: 3em 2em 0em;
		}

		@media screen and ($small) {
			padding: 2.5em 1.5em 0em;
		}

		@media screen and ($extraSmall) {
			padding: 2.5em 1em 0em;
		}
	}

	&-upper-banner {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		gap: 5%;
		row-gap: 1em;

		> * {
			flex: 1;

			@media screen and ($extraLarge) {
				flex: 45%;
			}
		}
	}

	&-column {
		min-width: 275px;

		> h5 {
			margin: 1.375em 0 -0.5em;
			font-size: 0.95rem;
			margin-bottom: -0.75em;
			font-style: italic;
			opacity: 0.75;
		}

		> ul {
			margin: 1em 0 2em;

			> li {
				padding: 0.25em 0;
				display: block;

				> a:hover {
					color: darken($tertiaryColor, 10);
				}

				> i {
					color: $primaryColor;
					font-size: 1.25rem;
					vertical-align: middle;
					padding-right: 0.5em;
				}
			}
		}
	}

	&-special-row {
		display: flex;
		flex-direction: column;

		@media screen and ($large) {
			flex-direction: row;

			> * {
				flex: 1;
			}
		}

		@media screen and ($small) {
			flex-direction: column;
		}

		> div > ul {
			margin: 1em 0 2em;

			> li {
				padding: 0.25em 0;
				display: block;

				> a:hover {
					color: darken($tertiaryColor, 10);
				}

				> i {
					color: $primaryColor;
					font-size: 1.25rem;
					vertical-align: middle;
					padding-right: 0.5em;
				}
			}
		}
	}

	&-logo {
		width: 125px;

		&-social {
			display: flex;
			gap: 35px;
			margin-top: 1em;

			@media screen and ($large) {
				flex-direction: row;
			}

			@media screen and ($medium) {
				flex-direction: column;
			}

			@media screen and ($small) {
				flex-direction: row;
				justify-content: normal;
				width: 100%;
			}

			> a {
				width: 100%;
				max-width: 100px;

				@media screen and ($large) {
					max-width: 125px;
				}

				@media screen and ($small) {
					flex-direction: row;
				}

				> .footer-logo {
					width: 100%;
					height: auto;
					object-fit: contain;
				}
			}
		}
	}

	&-social-icons {
		margin-top: 1em;
		display: flex;
		gap: 15px;

		> li {
			> a {
				> i {
					color: $primaryColor;
					font-size: 1.6rem;
					vertical-align: middle;

					&:hover {
						color: $tertiaryColor;
					}
				}
			}
		}
	}

	&-bottom-banner {
		background: $primaryColor;
		color: $whiteColor;
		padding: 0.75em 0;
		display: flex;
		justify-content: center;

		@include fullWidth;

		> span {
			text-align: center;

			@media screen and ($small) {
				font-size: 0.675rem;
				margin-bottom: 0em;
			}
		}

		a {
			display: inline-flex;
			align-items: center;

			color: $secondaryColor;
			filter: grayscale(100%);

			&:hover {
				filter: grayscale(0%);
			}

			img {
				max-width: 20px;
				max-height: 20px;
				margin-left: 0.25em;
			}
		}
	}
}
