@import '../configs/globals';

.header {
	&-container {
		color: $primaryColor;
		width: 100%;
	}

	&-top-banner {
		width: 100%;
		background-color: $primaryColor;
		background-color: linear-gradient(
			45deg,
			$primaryColor,
			scale-color($primaryColor, $lightness: 10%)
		);
		display: inline-block;

		@include boxBottomShadow;

		&-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0.75em 2em;

			@include epWrapper;

			> p {
				color: #fff;
				font-family: $bebasNeue;
				font-size: 1.3rem;
				letter-spacing: 2px;

				@media screen and ($small) {
					font-size: 1.2rem;
				}
			}

			> ul {
				display: flex;
				gap: 15px;

				@media screen and ($small) {
					gap: 10px;
				}

				> li {
					> a {
						> i {
							color: #fff;
							font-size: 1.25rem;

							@media screen and ($small) {
								font-size: 1.125rem;
							}

							&:hover {
								color: $secondaryColor;
							}
						}
					}
				}
			}
		}
	}

	&-space {
		height: 125px;
		width: 100%;

		@media screen and ($small) {
			height: 90px;
		}
	}

	&-wrapper {
		.header-menu {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 125px;
			background-color: #fff;

			@media screen and ($small) {
				height: 90px;
			}

			@include baseTransition(all);

			&.fixed-menu {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				z-index: 5;
				height: 90px;
				transform: translateZ(0);

				ul > li > ul > li {
					border-right: 1px solid rgba(128, 128, 128, 0.25);
					border-left: 1px solid rgba(128, 128, 128, 0.25);

					&:last-child {
						border-bottom: 1px solid rgba(128, 128, 128, 0.25);
					}
				}

				@include boxBottomShadow;
			}

			&::before {
				content: '·';
				margin-right: 25px;
				margin-bottom: 10px;
				color: $secondaryColor;
				font-size: 5em;

				@media screen and ($superSized) {
					display: none;
				}
			}

			&::after {
				content: '·';
				margin-left: 25px;
				margin-bottom: 10px;
				color: $secondaryColor;
				font-size: 5em;

				@media screen and ($superSized) {
					display: none;
				}
			}
		}

		.mobile {
			&-logo {
				width: 250px;
				height: auto;

				@media screen and ($small) {
					width: 200px;
				}

				@media screen and ($extraSmall) {
					width: 175px;
				}
			}

			&-menu-container {
				display: none;
				padding: 0 2em;

				@media screen and ($superSized) {
					display: flex;
					width: 100%;
					justify-content: space-between;
					align-items: center;
				}

				@media screen and ($small) {
					padding: 0 0.75em;
				}

				.hamburger-button {
					background: transparent;
					border: none;
					cursor: pointer;
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					padding: 10px;
					position: relative;
				}

				.hamburger-icon {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					width: 30px;
					height: 20px;
				}

				.bar {
					width: 100%;
					height: 3px;
					background: $primaryColor;
					transition: 0.4s;
				}

				/* Add animation for the bars when the menu opens */
				// .hamburger-button.open .bar:nth-child(1) {
				// 	transform: rotate(-45deg) translate(-5px, 6px);
				// }

				// .hamburger-button.open .bar:nth-child(2) {
				// 	opacity: 0;
				// }

				// .hamburger-button.open .bar:nth-child(3) {
				// 	transform: rotate(45deg) translate(-5px, -6px);
				// }
			}
		}

		.menu-items {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0;
			margin: 0;
			gap: 25px;

			@media screen and ($superSized) {
				display: none;
			}

			> li {
				max-width: 250px;

				> a {
					font-size: 1.3rem;
					font-family: $bebasNeue;
					letter-spacing: 1px;
					padding: 0.5em 0.5em 0.35em;
					display: flex;

					&:hover:not(.logo-wrapper, .active-menu-item) {
						color: white;
						background: $primaryColor;
					}
				}

				&:hover > ul {
					display: block;
				}

				.active-menu-item {
					color: tertiaryColor;
					background: $secondaryColor;
				}

				&:has(ul) {
					position: relative;

					> a {
						display: block;

						&::after {
							content: '▼';
							margin-left: 5px;
							font-size: 0.75rem;
							vertical-align: middle;
							color: $secondaryColor;
						}

						&.active-menu-item::after {
							color: $primaryColor;
						}
					}
				}

				> ul {
					display: none;
					position: absolute;
					z-index: 2;
					left: 50%;
					transform: translateX(-50%);
					padding-top: 24px;
					background: white;
					box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;

					> li {
						> a {
							font-size: 1.2rem;
							font-family: $bebasNeue;
							letter-spacing: 1px;
							padding: 0.75em 0.75em 0.675em;
							display: flex;
							justify-content: center;
							text-align: center;
							min-width: max-content;

							&:hover {
								color: white;
								background: $primaryColor;
							}
						}
					}
				}
			}
		}
	}
}
