@import '../configs/globals';

.header {
	&-container {
		color: $primaryColor;
		width: 100%;
	}

	&-top-banner {
		width: 100%;
		background-color: $primaryColor;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);

		&-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0.75em 2em;
			max-width: 1800px;
			margin: 0 auto;

			p {
				color: #fff;
				font-family: $bebasNeue;
				font-size: 1.3rem;
				letter-spacing: 2px;
			}

			ul {
				display: flex;
				gap: 10px;
			}
		}
	}

	&-wrapper {
		.header-menu {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 125px;
			background-color: #fff;

			&.fixed-menu {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
				z-index: 5;
				height: 90px;
				transform: translateZ(0);
				transition: all 0.3s ease;
			}

			&::before {
				content: '·';
				margin-right: 25px;
				margin-bottom: 5px;
				color: $secondaryColor;
				font-size: 5em;
			}

			&::after {
				content: '·';
				margin-left: 25px;
				margin-bottom: 5px;
				color: $secondaryColor;
				font-size: 5em;
			}
		}

		.menu-items {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0;
			margin: 0;
			gap: 25px;

			li {
				a {
					font-size: 1.3rem;
					font-family: $bebasNeue;
					letter-spacing: 1px;
					padding: 0.5em 0.5em 0.35em;
					display: flex;
					border: transparent solid 2px;

					&:hover:not(.ep-logo, .activeMenuItem) {
						color: white;
						background: $primaryColor;
					}
				}

				.activeMenuItem {
					color: tertiaryColor;
					background: $secondaryColor;
				}
			}
		}

		.ep-logo {
			text-align: center;
			height: auto;
			width: 250px;
		}
	}
}
