@import '../configs/globals';

.homepage {
	> p {
		max-width: 75ch;
		font-size: 1.3rem;
		line-height: 2rem;

		&:not(:last-child) {
			margin-bottom: 1em;
		}

		&:nth-of-type(2) {
			font-size: 1.2rem;
			line-height: 1.8rem;
		}

		@media screen and ($medium) {
			font-size: 1.25rem;

			&:nth-of-type(2) {
				font-size: 1.125rem;
			}
		}
	}
}
