@use 'sass:color';

@import '../configs/globals';

.media-cont-one {
	align-items: center;
	margin-top: 3em;
	margin-bottom: 3em;
	display: flex;
	justify-content: center;
	gap: 50px;

	@media screen and ($small) {
		margin-top: 1em;
	}

	.music {
		background: $primaryColor;
		outline: 1px solid color.adjust($primaryColor, $lightness: 10%);
		color: $whiteColor;
		flex: 25%;
		max-width: 450px;
		border-radius: 5px;
		position: relative;
		padding: 1.5em;

		@include boxShadow;

		@media screen and ($large) {
			width: 450px;
			max-width: 100%;
			flex: 100%;
		}

		@media screen and ($small) {
			padding: 1em;
		}
	}

	.news {
		flex: 30%;
		max-width: 600px;
		height: fit-content;
		padding: 1.5em;
		background: #80808010;

		@include boxShadow;

		a {
			@include pageLink;

			i {
				margin-left: 0.5em;
				font-size: 0.75rem;
				vertical-align: super;
			}
		}

		@media screen and ($small) {
			padding: 1em;
		}

		iframe {
			@media screen and ($small) {
				height: 225px;
			}
		}
	}

	@media screen and ($large) {
		flex-direction: column-reverse;
	}
}

.videos {
	width: 100%;
	background: #80808010;
	padding: 1.5em;

	@media screen and ($small) {
		padding: 1em;
	}

	@include boxShadow;
}

.photos {
	width: 100%;
	max-width: 1200px;
	margin: 3em auto;
	background: color.adjust($lightgreyColor, $lightness: 10%);
	padding: 1.5em 1.5em 0.25em;

	@media screen and ($small) {
		padding: 1em 1em 0.25em;
		margin: 3em auto 0.25em;
	}

	hr {
		margin: 3em 0 2em;
		background-color: $whiteColor;
	}

	@include boxShadow;
}
