@import '../configs/globals';

@mixin DRY {
	display: flex;
	justify-content: center;
	gap: 50px;

	a {
		@include pageLink;

		i {
			margin-left: 0.5em;
			font-size: 0.75rem;
			vertical-align: super;
		}
	}

	> * {
		background: #80808010;
		padding: 1.5em;

		@include boxShadow;
	}
}

.mediaContOne {
	margin-bottom: 50px;
	align-items: center;

	.music {
		background: $primaryColor;
		color: white;
		flex: 25%;
		max-width: 450px;
		border-radius: 5px;

		@media screen and ($large) {
			width: 450px;
			max-width: 100%;
			flex: 100%;
		}
	}

	.news {
		flex: 30%;
		max-width: 600px;
		height: fit-content;

		iframe {
			width: 100%;

			@media screen and ($small) {
				height: 225px;
			}
		}
	}

	@media screen and ($large) {
		flex-direction: column-reverse;
	}

	@include DRY;
}

.videos {
	width: 100%;
	// max-width: 400px;

	background: #80808010;
	padding: 1.5em;

	@include boxShadow;
}

.photos {
	width: 100%;
	max-width: 1000px;
	margin: 50px auto;
	background: #80808010;
	padding: 2em;

	@media screen and ($small) {
		padding: 1em;
	}

	@include boxShadow;
}
