@import '../configs/globals';

.mobile-menu {
	width: 350px;
	position: fixed;
	top: 0;
	left: -350px;
	height: 100%;
	background: $primaryColor;
	overflow-x: hidden;
	z-index: 6;

	display: flex;
	justify-content: center;
	align-items: center;

	@media screen and ($small) {
		width: 300px;
		left: -300px;
	}

	.close {
		&-wrapper {
			position: absolute;
			width: 35px;
			height: 35px;
			top: 25px;
			right: 25px;
			padding: 1em;
			background: $tertiaryColor;
			border-radius: 3px;
			z-index: 7;
			cursor: pointer;
		}

		&-cross {
			.cross-line {
				top: 5px;
				right: 16px;
				width: 3px;
				height: 25px;
				position: absolute;
				background-color: $whiteColor;
				transform: rotate(45deg);
				transition: transform 0.3s ease-in-out;
			}

			.cross-line:first-child {
				transform: rotate(-45deg);
			}
		}
	}

	> ul {
		list-style: none;
		padding: 0;
		margin: 0;
		width: 100%;

		> li {
			padding: 1em;
			font-family: $bebasNeue;
			position: relative;

			@media screen and ($small) {
				padding: 0.75em;
			}

			> a {
				text-decoration: none;
				color: $whiteColor;
				font-size: 1.5rem;
				letter-spacing: 1px;

				@media screen and ($small) {
					font-size: 1.25rem;
					left: -300px;
				}
			}

			> i {
				font-size: 1.25rem;
				background: $tertiaryColor;
				color: $whiteColor;
				width: 20px;
				height: 20px;
				padding-bottom: 1px;
				text-align: center;
				border-radius: 2px;

				position: absolute;
				top: 19px;
				right: 0;

				@media screen and ($small) {
					top: 12px;
				}

				cursor: pointer;
			}

			.active-menu-item {
				color: $secondaryColor;
			}

			&:has(ul) {
				position: relative;

				> ul {
					width: 100%;
					margin-top: 0.5em;
					background: $primaryColor;
					transition: all 0.3s ease-in-out;
					list-style-type: square;
					list-style-position: inside;
					color: $whiteColor;

					@media screen and ($small) {
						margin-top: 0.25em;
					}

					> li {
						padding: 0.5em 0.5em;

						&::marker {
							color: $tertiaryColor;
						}

						@media screen and ($small) {
							padding: 1em 0 0.25em;
						}

						> i {
							color: $secondaryColor;
						}

						> a {
							text-decoration: none;
							color: $whiteColor;
							font-size: 1.3rem;
							letter-spacing: 0.5px;

							@media screen and ($small) {
								font-size: 1.125rem;
							}
						}
					}
				}
			}
		}
	}

	&.open {
		left: 0;
		padding: 2em;
		transition: left 0.5s ease;
	}

	&.close {
		left: -350px;

		@media screen and ($small) {
			left: -300px;
		}

		> ul > li > i {
			display: none;
			transition: display 0.3s ease;
		}

		transition: left 0.5s ease;
	}
}
