@import '../configs/globals';

.mobile-menu {
	width: 400px;
	position: fixed;
	top: 0;
	left: -400px;
	height: 100%;
	background: rgba($primaryColor, 75%);
	border-right: 3px solid rgba($tertiaryColor, 0.3);
	overflow-x: hidden;
	z-index: 6;

	display: flex;
	justify-content: center;
	align-items: center;

	@include boxShadow;

	@media screen and ($small) {
		width: 325px;
		left: -325px;
	}

	.close {
		&-wrapper {
			position: absolute;
			width: 35px;
			height: 35px;
			top: 20px;
			right: 20px;
			padding: 1em;
			background-color: $whiteColor;
			border-radius: 3px;
			z-index: 7;
			cursor: pointer;

			@media screen and ($small) {
				transform: scale(0.875);
			}
		}

		&-cross {
			.cross-line {
				top: 5px;
				right: 16px;
				width: 3px;
				height: 25px;
				position: absolute;
				background: $primaryColor;
				border-radius: 25px;
				transform: rotate(45deg);
				transition: transform 0.3s ease-in-out;
			}

			.cross-line:first-child {
				transform: rotate(-45deg);
			}
		}
	}

	> ul {
		list-style: none;
		padding: 0;
		margin: auto 0;
		width: 100%;

		> li {
			padding: 1em;
			font-family: $bebasNeue;
			position: relative;

			@media screen and ($landscape) and ($large) {
				padding: 0.25em;
			}

			@media screen and ($small) {
				padding: 0.75em;
			}

			> a {
				text-decoration: none;
				color: $whiteColor;
				font-size: 1.5rem;
				letter-spacing: 1px;

				&.special {
					color: $whiteColor;
					background: $tertiaryColor;

					padding: 0.375em 0.5em;
					margin-left: -0.125em;

					&.active-menu-item {
						color: $secondaryColor;
						background: $tertiaryColor;
					}
				}

				@media screen and ($landscape) and ($large) {
					font-size: 1.125rem;
				}

				@media screen and ($small) {
					font-size: 1.25rem;
					left: -300px;
				}
			}

			> i {
				font-size: 1.25rem;
				background: $whiteColor;
				color: $tertiaryColor;
				width: 25px;
				height: 25px;
				padding: 0.1em;
				text-align: center;
				border-radius: 50%;

				position: absolute;
				top: 21px;
				right: 0;

				cursor: pointer;

				@media screen and ($landscape) and ($large) {
					top: 7px;
				}

				@media screen and ($small) {
					top: 15px;
					width: 20px;
					height: 20px;
					padding: 0;
				}
			}

			.active-menu-item {
				color: $secondaryColor;
			}

			&:has(ul) {
				position: relative;

				> ul {
					width: 100%;
					margin-top: 0.5em;
					transition: all 0.3s ease-in-out;
					list-style-type: square;
					list-style-position: inside;

					@media screen and ($small) {
						margin-top: 0.25em;
					}

					> li {
						padding: 0.5em;

						&::marker {
							color: $tertiaryColor;
						}

						@media screen and ($landscape) and ($large) {
							padding: 0.25em;
						}

						@media screen and ($small) {
							padding: 1em 0 0.25em;
						}

						> a {
							text-decoration: none;
							color: $whiteColor;
							font-size: 1.3rem;
							letter-spacing: 0.5px;

							@media screen and ($small) {
								font-size: 1.125rem;
							}

							@media screen and ($landscape) and ($large) {
								font-size: 1.125rem;
							}
						}
					}
				}
			}
		}
	}

	&.open {
		left: 0;
		padding: 2em;
		transition: left 0.5s ease;
	}

	&.close {
		left: -400px;
		transition: left 0.5s ease;

		@media screen and ($small) {
			left: -325px;
		}

		> ul > li > i {
			display: none;
			transition: display 0.3s ease;
		}
	}
}
