@import '../configs/globals';

.component {
	// background: lightgreen;

	.album-cover {
		width: 100%;
	}

	.title {
		text-align: center;
	}

	.sub-title {
		text-align: center;
	}

	.controls {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1em;
		margin: 1em 0;
	}

	.control-button {
		font-size: 3em;
		color: #27ae60;
		cursor: pointer;

		&:hover {
			color: #2ecc71;
		}
	}

	.time {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 1em;
		margin: 1em 0;

		&-left,
		&-right {
			flex: 1;
		}

		&line {
			max-width: 100%;
			padding: 0 0.5em 2em;

			> input {
				width: 100%;
				height: 5px;
				background: #7f8c8d;
				border-radius: 2px;
				cursor: pointer;

				#thumb {
					appearance: none;
					width: 10px;
					height: 10px;
					background: #27ae60;
					border-radius: 50%;
				}
			}
		}
	}
}
