@use 'sass:color';

@use '../customs' as *;

.posts-container {
	margin: 2em 0;

	> h2 {
		text-align: center;
	}

	> p {
		background: linear-gradient(
			45deg,
			$primaryColor,
			color.scale($primaryColor, $lightness: 25%)
		);

		width: fit-content;
		color: $whiteColor;
		text-align: center;
		margin: 0 auto;
		padding: 1em 1.5em;
		border-radius: 10px;
	}

	> ul {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 3em;

		> li {
			outline: 2px solid color.adjust($transGrey, $alpha: -0.7);
			border-radius: 15px;
			overflow: hidden;
			max-width: 375px;
			position: relative;

			background: linear-gradient(
				45deg,
				$primaryColor,
				color.scale($primaryColor, $lightness: 25%)
			);

			@include baseTransition(all, 0.5s);
			@include boxShadow;

			@media screen and ($large) {
				max-width: fit-content;
			}

			&:hover {
				outline-color: $secondaryColor;

				img {
					transform: scale(1.05);

					@include baseTransition(all, 0.3s);
				}
			}

			&:not(:hover) img {
				transform: scale(1);

				@include baseTransition(all, 0.3s);
			}

			&:active {
				outline-color: $linkColor;
			}

			img {
				width: 100%;
				border-bottom: 1px solid color.adjust($transGrey, $alpha: -0.75);
				height: 300px;
				object-fit: cover;
				overflow: hidden;

				@include baseTransition(all, 0.3s);
			}

			div {
				padding: 1em;

				span {
					position: absolute;
					top: 15px;
					right: 15px;
					background-color: $primaryColor;
					color: $whiteColor;
					padding: 0.25em 0.5em;
					border-radius: 5px;
				}

				> h3 {
					display: inline;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
					min-height: 3em;

					a {
						color: $whiteColor;

						&:hover {
							color: color.adjust($linkColor, $lightness: 10%);
						}
					}
				}

				p {
					display: -webkit-box;
					max-width: 95%;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					overflow: hidden;
					margin: 0 0 2em;
					font-size: 1.05rem;
					color: $whiteColor;
				}

				hr {
					height: 3px;
					border-width: 0;
					color: color.adjust($transGrey, $alpha: -0.9);
					background-color: color.adjust($transGrey, $alpha: -0.9);
					margin: 1em 0;
				}

				time {
					float: right;
					font-size: 0.9rem;
					color: color.adjust($whiteColor, $lightness: -25%);
				}

				> a {
					color: color.adjust($tertiaryColor, $lightness: 10%);

					&:hover {
						color: color.adjust($linkColor, $lightness: 10%);
					}
				}
			}
		}
	}
}
