@import '../configs/globals';

.registerform {
	&-container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 87.5px;
		padding: 50px 0;

		> * {
			flex: 1;
		}

		> :nth-child(1) {
			max-width: 600px;
		}

		> :nth-child(2) {
			max-width: 600px;
		}

		@media screen and ($superSized) {
			gap: 37.5px;
		}

		@media screen and ($large) {
			align-items: start;
			flex-direction: row;
			justify-content: space-evenly;
			width: 100%;
			padding: 1em 0 0;
			gap: 25px;

			> :nth-child(1) {
				flex: 55%;
			}

			> :nth-child(2) {
				flex: 45%;
			}
		}

		@media screen and ($large) {
			align-items: center;
			gap: 50px;
			flex-direction: column-reverse;

			> :nth-child(1) {
				max-width: 600px;
			}
		}
	}

	&-wrapper {
		background: $primaryColor;
		color: $whiteColor;
		padding: 1.5em 2em;
		border-radius: 10px;

		@include boxShadow;

		@media screen and ($small) {
			display: block;
			width: 100%;
			padding: 1.5em 1.25em;
		}

		> h2 {
			font-size: 2.5rem;
			text-decoration: underline;
			text-decoration-color: $tertiaryColor;
			text-underline-offset: 4px;
		}

		> span {
			font-size: 1.125rem;
			font-weight: 600;
			margin-bottom: 1.5em;
			display: block;
		}

		form {
			display: flex;
			flex-direction: column;
			margin-bottom: 1em;

			> span {
				font-size: 1.125rem;
				font-weight: 600;
				margin-top: 1.5em;
			}

			> fieldset {
				display: flex;
				flex-direction: column;

				&:nth-of-type(2) {
					margin-top: 2em;
				}

				> legend {
					margin: 0 0 2.25em;
					font-weight: 600;
				}

				input {
					background: $whiteColor;
					border-radius: 5px;
					padding: 0.5em 0.75em 0.6em;
					color: $primaryColor;
					width: 100%;

					@media screen and ($small) {
						border-radius: 3px;
					}

					@include baseTransition(outline-color);

					&::placeholder {
						color: $greyColor;
					}
				}

				textarea {
					background: $whiteColor;
					border-radius: 5px;
					padding: 0.5em 0.75em 0.6em;
					color: $primaryColor;
					width: 100%;
					min-height: 7.5em;

					&::placeholder {
						color: $greyColor;
					}

					@media screen and ($medium) {
						min-width: auto;
						width: 100%;
					}

					@media screen and ($small) {
						border-radius: 3px;
					}
				}
			}

			> button {
				@include buttonStyle(
					$whiteColor,
					$primaryColor,
					$whiteColor,
					$tertiaryColor
				);

				margin-top: 2em;
				align-self: end;
			}
		}
	}

	&-select {
		position: relative;

		> select {
			width: 100%;
			padding: 0.55em 1em 0.625em;
			border-radius: 5px;
			background-color: $whiteColor;
			color: $primaryColor;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;

			@media screen and ($small) {
				padding: 1em 2.4em 0.9em 0.75em;
				border-radius: 3px;
				font-size: 0.75rem;
			}
		}

		> .arrow {
			position: absolute;
			top: 50%;
			right: 10px;
			transform: translateY(-50%);
			width: 0;
			height: 0;
			border-left: 7.5px solid transparent;
			border-right: 7.5px solid transparent;
			border-top: 7.5px solid $tertiaryColor;

			@media screen and ($small) {
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-top: 5px solid $tertiaryColor;
			}
		}
	}

	&-info {
		background: #80808010;
		padding: 1em;

		a {
			@include pageLink;
		}
	}

	&-conditions {
		ul {
			list-style-type: disc;
			margin-left: 1.5em;

			li:not(:last-child) {
				padding-bottom: 0.5em;
			}
		}

		> * {
			font-size: 0.95rem;
			padding-bottom: 1em;
		}

		> p:not(:first-child) {
			padding-top: 1em;
		}

		> p:last-child {
			font-size: 0.9rem;
			text-align: center;
		}
	}
}
