@import '../configs/globals';

.workshop {
	&-bg-image {
		background-image: url('../../images/sankofa-bg.jpeg');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		opacity: 0.0525;
		z-index: -1;
		height: 100%;

		@include fullWidth(absolute);

		@media screen and ($superSized) {
			background-size: cover;
		}
	}

	&-images {
		display: flex;
		justify-content: center;
		gap: 15px;

		img {
			border-radius: 3px;
			border: 1px solid $blackColor;
		}
	}

	&-visuals {
		display: flex;
		flex-direction: column;
		gap: 75px;

		img {
			border-radius: 3px;
			border: 2px solid $blackColor;

			@media screen and ($small) {
				border: 1px solid $blackColor;
			}
		}

		> div:not([data-main-modal]) {
			max-width: 450px;
			margin: 0 auto;
		}
	}

	&-container {
		display: flex;
		justify-content: center;
		gap: 87.5px;
		margin: 50px 0;
		> * {
			flex: 1;
		}
		> :nth-child(1) {
			max-width: 600px;
		}
		> :nth-child(2) {
			max-width: 600px;
		}
		@media screen and ($superSized) {
			gap: 37.5px;
		}
		@media screen and ($large) {
			align-items: start;
			flex-direction: row;
			justify-content: space-evenly;
			width: 100%;
			margin: 0;
			gap: 25px;
			> :nth-child(1) {
				flex: 55%;
			}
			> :nth-child(2) {
				flex: 45%;
			}
		}
		@media screen and ($large) {
			align-items: center;
			gap: 50px;
			flex-direction: column-reverse;
			> :nth-child(1) {
				max-width: 600px;
			}
		}
	}

	&-info {
		background: #80808010;
		padding: 1.5em;
		height: fit-content;

		@include boxShadow;

		@media screen and ($small) {
			padding: 1em;

			h2 {
				font-size: 1.75rem;
			}

			h4 {
				font-size: 1.1rem;
			}

			p {
				font-size: 1rem;
			}
		}
	}
}
