@import '../configs/globals';

.workshop {
	&-bg-image {
		background-image: url('../../images/sankofa-bg.jpeg');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		opacity: 0.0525;
		z-index: -1;
		height: 100%;

		@include fullWidth(absolute);

		@media screen and ($superSized) {
			background-size: cover;
		}
	}

	&-images {
		display: flex;
		justify-content: center;
		gap: 15px;

		img {
			border-radius: 3px;
			border: 1px solid $whiteColor;
		}
	}

	&-visuals {
		display: flex;
		flex-direction: column;
		gap: 75px;

		img {
			border-radius: 5px;
			outline: 2px solid $whiteColor;

			@media screen and ($small) {
				border: 1px solid $whiteColor;
			}
		}

		> div:not([data-main-modal]) {
			max-width: 450px;
			margin: 0 auto;
		}
	}

	&-container {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		gap: 87.5px;
		margin: 3em auto;

		> * {
			flex: 1;
		}

		> :nth-child(1) {
			max-width: 600px;
		}

		> :nth-child(2) {
			max-width: 600px;
		}

		@media screen and ($superSized) {
			gap: 37.5px;
		}

		@media screen and ($large) {
			align-items: center;
			flex-direction: column-reverse;
			width: 100%;
			gap: 50px;
		}

		@media screen and ($small) {
			margin: 1em auto;
		}
	}

	&-info {
		background: #80808010;
		padding: 1.5em;
		height: fit-content;

		@include boxShadow;

		@media screen and ($small) {
			padding: 1em;

			h2 {
				font-size: 1.75rem;
			}

			h4 {
				font-size: 1.1rem;
			}

			p {
				font-size: 1rem;
			}
		}
	}
}
