// $breakpoint-xs-max: 575px;
// $breakpoint-sm-min: 576px;
// $breakpoint-sm-max: 767px;
// $breakpoint-md-min: 768px;
// $breakpoint-md-max: 991px;
// $breakpoint-lg-min: 992px;
// $breakpoint-lg-max: 1199px;
// $breakpoint-xl-min: 1200px;

$superSmall: 'max-width: 320px';
$extraSmall: 'max-width: 480px';
$small: 'max-width: 576px';
$medium: 'max-width: 768px';
$large: 'max-width: 992px';
$extraLarge: 'max-width: 1200px';
$superSized: 'max-width: 1400px';
$massive: 'max-width: 1600px';

// /* Extra Small (XS) Devices: */
// @media screen and (max-width: 576px) {
// 	/* Commonly used for smartphones in portrait mode. */
// }

// /* Small (SM) Devices */
// @media screen and (min-width: 577px) and (max-width: 768px) {
// 	/* Suitable for smartphones in landscape mode and small tablets. */
// }

// /* Medium (MD) Devices */
// @media screen and (min-width: 769px) and (max-width: 992px) {
// 	/* Often used for larger smartphones and smaller tablets. */
// }

// /* Large (LG) Devices */
// @media screen and (min-width: 993px) and (max-width: 1200px) {
// 	/* Suitable for desktop and larger tablets. */
// }

// /* Extra Large (XL) Devices */
// @media screen and (min-width: 1201px) {
// 	/* Commonly used for desktop and large screens */
// }

// /* Super Sized (XXL) Devices */
// @media screen and (min-width: 1400px) {
// 	/* Commonly used for desktop and large screens */
// }
