@mixin buttonStyle($bgColor, $color, $hoverBgcolor, $hoverColor) {
	background-color: $bgColor;
	color: $color;
	font-size: 1.125rem;
	border-radius: 5px;
	font-weight: 700;
	padding: 0.5em 1em;
	border: none;
	text-transform: uppercase;
	min-height: 44px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	text-wrap: nowrap;
	cursor: pointer;

	@include boxShadow;

	@media screen and ($small) {
		font-size: 1rem;
		padding: 0.75em 1.25em;
	}

	&:hover {
		background-color: $hoverBgcolor;
		color: $hoverColor;
	}

	&.specialButton {
		background-color: $tertiaryColor;
		color: $whiteColor;

		&:hover {
			background-color: $tertiaryColor;
			color: $secondaryColor;
		}
	}

	@include baseTransition(all);
}

@mixin boxShadow {
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

@mixin boxBottomShadow {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

@mixin baseTransition($element) {
	transition: $element 0.1s ease-in-out;
}

@mixin fullWidth {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}

@mixin respImage($width, $maxWidth, $height, $objectFit) {
	width: $width;
	max-width: $maxWidth;
	height: $height;
	object-fit: $objectFit;
	object-position: center 25%;
}

@mixin epWrapper {
	max-width: 1800px;
	margin: 0 auto;
	width: 100%;
}

@mixin pageLink {
	color: $tertiaryColor;
	text-decoration: none;
	font-weight: 600;
	transition: color 0.1s ease-in-out;

	&:hover {
		color: darken($tertiaryColor, 10);
	}
}

@mixin specialLabels {
	label {
		opacity: 1;
		top: -25px;

		&.visited {
			color: lighten($tertiaryColor, 10);
		}
	}
}
