@use "./customs" as *;

hr {
	height: 3px;
	border-width: 0;
	color: rgba($trans-grey, 0.1);
	background-color: rgba(54 30 30 / 10%);
	margin: 1em 0;
}

iframe {
	aspect-ratio: 16 / 9;
	width: 100%;
	border-radius: 3px;
	outline: 2px solid $white-color;

	@media screen and ($small) {
		outline: 1px solid $white-color;
	}
}
