@use "./customs" as *;

hr {
	height: 3px;
	border-width: 0;
	color: rgba($trans-grey, 0.1);
	background-color: rgba(54 30 30 / 10%);
	margin: 1em 0;
}

iframe {
	aspect-ratio: 16 / 9;
	width: 100%;
	border-radius: $border-radius-sm;
	outline: 2px solid rgba($lightgrey-color, 1);
	border: 0 solid rgba($lightgrey-color, 1);
	height: auto;
}
