@use "./customs" as *;

hr {
	height: rem-calc(3);
	border-width: 0;
	background-color: rgba($dark-grey, 0.1);
	margin: rem-calc(8 0);

	&.fullwidth {
		margin: 0;
		height: rem-calc(1);

		@include full-width;

		@include mobile {
			display: none;
		}
	}
}

iframe {
	aspect-ratio: 16 / 9;
	width: 100%;
	border-radius: $border-radius-sm;
	outline: 2px solid rgba($lightgrey-color, 1);
	border: 0 solid rgba($lightgrey-color, 1);
	height: auto;
}
