@use "sass:color";

@use "./customs" as *;

.error {
	outline: 2px solid $redColor;
}

.approved {
	outline: 2px solid $greenColor;
}

.reset {
	outline: 2px solid $lightgreyColor;
}

form {
	input,
	textarea,
	select {
		height: 44px;
		opacity: 0.99;
		line-height: 1.5;
		background: linear-gradient(45deg, #eaecf7, $whiteColor);
		outline: 2px solid $lightgreyColor;

		&:not(select) {
			color: $primaryColor;
		}

		&:not(input, textarea) {
			color: $greyColor;
			overflow: hidden;

			&.approved {
				color: $primaryColor;
			}
		}

		&::placeholder {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 100%;
			color: $greyColor;

			@media screen and ($small) {
				font-size: 0.9rem;
			}
		}

		&:focus {
			outline-color: $tertiaryColor;

			&::placeholder {
				opacity: 0;
			}
		}
	}
}

.form {
	&-select {
		position: relative;

		> select {
			width: 100%;
			padding: 0.65em 2em 0.75em 0.75em;
			border-radius: 5px;
			appearance: none;

			option:disabled {
				outline-color: $lightgreyColor;
			}

			@media screen and ($small) {
				border-radius: 3px;
			}
		}

		> .arrow {
			position: absolute;
			top: 50%;
			right: 10px;
			transform: translateY(-50%);
			width: 0;
			height: 0;
			border-left: 7.5px solid transparent;
			border-right: 7.5px solid transparent;
			border-top: 7.5px solid $tertiaryColor;

			@media screen and ($small) {
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;
				border-top: 6px solid $tertiaryColor;
			}
		}
	}

	&-column {
		display: flex;
		justify-content: space-between;
		gap: 15px;

		&:not(:last-child) {
			margin-bottom: 2.25em;
		}

		&.collapse-one {
			@media screen and ($extra-large) {
				flex-wrap: wrap;
				row-gap: 35px;
				justify-content: flex-start;
			}

			@media screen and ($large) {
				flex-wrap: nowrap;
			}

			@media screen and ($small) {
				flex-wrap: nowrap;
			}

			@media screen and ($extra-small) {
				flex-wrap: wrap;
				row-gap: 35px;
				justify-content: flex-start;
			}
		}

		&.collapse-two {
			@media screen and ($extra-large) {
				flex-wrap: wrap;
				row-gap: 35px;
				justify-content: flex-start;
			}

			@media screen and ($small) {
				flex-wrap: nowrap;
			}

			@media screen and ($extra-small) {
				flex-wrap: wrap;
				row-gap: 35px;
				justify-content: flex-start;
			}
		}

		&.collapse-three {
			@media screen and ($extra-small) {
				flex-direction: column;
				gap: 35px;

				.date-inputs {
					justify-content: flex-start;
					gap: 15px;
				}
			}
		}

		&.collapse-four {
			@media screen and ($small) {
				flex-direction: column;
				gap: 35px;

				.date-inputs {
					justify-content: flex-start;
					gap: 15px;
				}
			}
		}
	}

	&-group {
		position: relative;

		.date-inputs {
			display: flex;
			justify-content: space-between;
			gap: 10px;

			/* stylelint-disable-next-line selector-id-pattern */
			#day-of-birth,
			#month-of-birth,
			#year-of-birth {
				padding: 0.625em 0.5em;
				border-radius: 5px;
				text-align: center;
				text-align-last: center;

				@media screen and ($small) {
					padding: 0.75em;
					border-radius: 3px;
					font-size: 0.9rem;
				}
			}
		}

		label {
			opacity: 0;
			position: absolute;
			top: 10px;
			left: 0;
			font-size: 0.8rem;
			font-weight: 400;
			letter-spacing: 0.5px;
			transition: all 0.1s;
			color: $greyColor;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 90%;

			@media screen and ($small) {
				font-size: 0.75rem;
			}

			&.visited {
				opacity: 1;
				top: -25px;
				left: 0;
				transition: all 0.1s;
				color: color.adjust($tertiaryColor, $lightness: 10%);

				@media screen and ($small) {
					font-size: 0.75rem;
				}
			}
		}

		// -------------------------- column 1
		&.first-name {
			flex: 50%;
		}

		&.last-name {
			flex: 50%;
		}

		// -------------------------- column 2
		&.street-name {
			flex: 65%;

			@media screen and ($super-sized) {
				flex: 60%;
			}

			@media screen and ($extra-large) {
				flex: 100%;
			}

			@media screen and ($large) {
				flex: 65%;
			}

			@media screen and ($small) {
				flex: 72.5%;
			}
		}

		&.house-number {
			flex: 17.5%;

			@media screen and ($super-sized) {
				flex: 20%;
			}

			@media screen and ($extra-large) {
				width: 25%;
				flex: initial;
			}

			@media screen and ($large) {
				width: 20%;
				flex: initial;
			}

			@media screen and ($small) {
				width: 25%;
				flex: initial;
			}
		}

		&.zip-code {
			flex: 17.5%;

			@media screen and ($super-sized) {
				flex: 20%;
			}

			@media screen and ($extra-large) {
				width: 25%;
				flex: initial;
			}

			@media screen and ($large) {
				width: 20%;
				flex: initial;
			}

			@media screen and ($small) {
				width: 25%;
				flex: initial;
			}
		}

		// -------------------------- column 3
		&.city {
			flex: 50%;
		}

		&.province {
			flex: 50%;
		}

		// -------------------------- column 4
		&.email {
			flex: 75%;

			@media screen and ($extra-large) {
				flex: 60%;
			}

			@media screen and ($small) {
				flex: 70%;
			}

			&.booking {
				flex: 65%;

				@media screen and ($small) {
					width: 75%;
					flex: initial;
				}
			}
		}

		&.gender {
			flex: 25%;

			@media screen and ($small) {
				flex: 30%;
			}

			@media screen and ($extra-small) {
				width: 35%;
				flex: initial;
			}
		}

		// -------------------------- column 5
		&.phone {
			flex: 60%;

			@media screen and ($small) {
				width: 75%;
				flex: initial;
			}

			@media screen and ($extra-small) {
				width: 55%;
				flex: initial;
			}

			&.booking {
				flex: 35%;

				@media screen and ($small) {
					width: 55%;
					flex: initial;
				}
			}
		}

		&.date-of-birth {
			flex: 40%;

			@include special-labels;

			@media screen and ($small) {
				flex: 35%;
				gap: 15px;
			}
		}

		// -------------------------- column 6
		&.discover,
		&.topic {
			flex: 100%;
		}

		// -------------------------- column 7 (optional)
		&.other {
			flex: 100%;
		}

		// -------------------------- column 7
		&.comments,
		&.message {
			flex: 100%;

			label {
				top: 17.5px;

				&.visited {
					top: -25px;
				}
			}
		}

		// -------------------------- column 8

		// -------------------------- column 9
		&.first-name-parent {
			flex: 50%;
		}

		&.last-name-parent {
			flex: 50%;
		}

		// -------------------------- column 10

		&.email-parent {
			flex: 67.5%;

			@media screen and ($extra-small) {
				width: 87.5%;
				flex: initial;
			}
		}

		&.phone-parent {
			flex: 37.5%;

			@media screen and ($extra-small) {
				width: 75%;
				flex: initial;
			}
		}
	}
}
