@use "sass:color";

@use "./customs" as *;

[data-main-section] {
	position: relative;
	margin-top: rem-calc(32);

	@include mobile {
		margin-top: rem-calc(48);
	}
}

[data-main-content] {
	h2 {
		margin-bottom: rem-calc(16);
	}

	h3,
	h4,
	h5 {
		margin-bottom: rem-calc(12);
	}

	p {
		@include fluid-typing(16, 18);

		&:not(:last-of-type) {
			margin-bottom: rem-calc(16);
		}
	}

	ul:not(.page-content.maps ul, .page-content.singlepost .sidebar ul) {
		list-style: square;
		list-style-position: inside;
		padding-left: rem-calc(2);

		&:not(:last-child) {
			margin-bottom: rem-calc(16);
		}
	}

	a {
		@include page-link;
	}

	hr {
		color: $primary-color;
		background-color: $primary-color;
		opacity: 0.25;
		border-radius: 50%;
		margin: rem-calc(32 0);
	}
}

[data-main-form] {
	h2 {
		margin-bottom: rem-calc(24);
		text-decoration: underline;
		text-decoration-color: $tertiary-color;
		text-underline-offset: 4px;
	}
}
