@use "sass:color";

@use "./customs" as *;

[data-main-section] {
	position: relative;
}

[data-main-content] {
	h3 {
		margin-bottom: 0.75em;
	}

	p:not(:last-child) {
		margin-bottom: 1em;
	}

	ul:not(.page-content.maps ul, .page-content.singlepost .sidebar ul) {
		margin-bottom: 1em;
		list-style: square;
		list-style-position: inside;
		padding-left: 0.125em;
	}

	a {
		@include page-link;
	}

	i:not(.fab) {
		font-style: italic;
	}

	hr {
		color: $primary-color;
		background-color: $primary-color;
		opacity: 0.25;
		border-radius: 50%;
		margin: 2em 0;
	}
}
