@use "sass:color";

@use "./customs" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: rem-calc(8);
	letter-spacing: 0.5px;
}

h1 {
	font-family: $bebas-neue;
	font-size: rem-calc(36);

	@include mobile {
		font-size: rem-calc(48);
	}

	@include massive {
		font-size: rem-calc(64);
	}

	section[data-main-section] & {
		border-radius: $border-radius-sm;
		color: $white-color;
		padding: 0.1em 0.5em 0;
		background: linear-gradient(
			45deg,
			$primary-color,
			color.scale($primary-color, $lightness: 5%)
		);
		box-shadow: -5px 5px 10px -5px rgba(0 0 0 / 10%);
		max-width: 100%;
		text-align: center;
		width: 100%;

		@include phablet {
			width: fit-content;
		}

		@include laptop {
			max-width: 30ch;
		}

		@include desktop {
			max-width: 33ch;
			width: fit-content;
		}

		@include massive {
			max-width: 40ch;
		}
	}

	#post-template & {
		max-width: 100%;
	}
}

h2 {
	font-family: $bebas-neue;
	font-size: 3rem;

	@media screen and ($medium) {
		font-size: 2.75rem;
	}

	@media screen and ($small) {
		font-size: 2rem;
	}
}

h3 {
	font-family: $bebas-neue;
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
	font-weight: 600;
}

h5 {
	font-size: 1.1rem;
	font-weight: 400;
}

p {
	line-height: normal;
}

strong {
	font-weight: 600;
}

u {
	text-decoration: underline;
	text-underline-offset: 3px;
	text-decoration-thickness: 2px;
}

a {
	color: inherit;
}
