@use 'sass:color';

@import './configs/globals';

input[type='range'] {
	appearance: none;
	background: transparent;

	&::-webkit-slider-runnable-track {
		z-index: 1;

		&:hover {
			outline: $tertiaryColor;
		}
	}

	&::-webkit-slider-thumb {
		appearance: none;
		width: 25px;
		height: 25px;
		background: color.adjust($whiteColor, $lightness: -5%);
		outline: 1px solid rgba($lightgreyColor, 0.2);
		border-radius: 50%;
		z-index: 2;

		&:hover {
			background: color.adjust($tertiaryColor, $lightness: 15%);
		}

		&:active {
			background: color.adjust($tertiaryColor, $lightness: 5%);
		}
	}
}
