@import './configs/globals';

input[type='range'] {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;

	&::-webkit-slider-runnable-track {
		z-index: 1;
	}

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: 25px;
		height: 25px;
		background: darken($whiteColor, 5%);
		outline: 1px solid rgba($lightgreyColor, 0.2);
		border-radius: 50%;
		z-index: 2;

		&:hover {
			background: lighten($tertiaryColor, 20%);
		}

		&:active {
			background: lighten($tertiaryColor, 5%);
		}
	}
}
