@import './configs/globals';

.page-content {
	li > p {
		display: inline;
	}

	&.center {
		max-width: 1250px;
		margin: 3em auto;
		background: #80808010;
		padding: 2.5em 2em;

		@include boxShadow;

		@media screen and ($small) {
			padding: 1em;
			margin: 1em auto 3em;

			h2 {
				font-size: 1.75rem;
			}

			h4 {
				font-size: 1.1rem;
			}

			p {
				font-size: 1rem;
			}
		}
	}

	&.image-right {
		display: flex;
		justify-content: center;
		gap: 87.5px;
		margin: 50px 0;

		@media screen and ($large) {
			flex-direction: column;
		}

		> :nth-child(1) {
			max-width: 600px;
			background: #80808010;
			padding: 2.5em 2em;

			@include boxShadow;

			@media screen and ($large) {
				max-width: 100%;
			}

			@media screen and ($small) {
				padding: 1em;
				margin: 1em auto 3em;

				h2 {
					font-size: 1.75rem;
				}

				h4 {
					font-size: 1.1rem;
				}

				p {
					font-size: 1rem;
				}
			}
		}

		> :nth-child(2) {
			max-width: 600px;

			@media screen and ($large) {
				max-width: 100%;
			}

			> div {
				overflow: hidden;
				border-radius: 5px;
				height: fit-content;

				outline: 1px solid $lightgreyColor;

				img {
					@include boxShadow;

					width: 100%;
				}
			}
		}
	}
}
