@import 'configs/globals';

.error {
	outline-width: 3px;
	outline-style: solid;
	outline-color: $redColor;
}

.approved {
	outline-width: 3px;
	outline-style: solid;
	outline-color: $greenColor;
}

input,
textarea,
select {
	outline-width: 2px;
	outline-style: solid;
	outline-color: $lightgreyColor;

	&:focus {
		outline-width: 2px;
		outline-style: solid;
		outline-color: #007bff;

		&::placeholder {
			opacity: 0;
		}
	}

	&:-webkit-autofill {
		outline-color: $greenColor;
	}
}

.form {
	&-column {
		display: flex;
		justify-content: space-between;
		gap: 15px;

		&:not(:last-child) {
			margin-bottom: 2.25em;
		}
	}

	&-group {
		position: relative;

		.date-inputs {
			display: flex;
			gap: 10px;

			#dayOfBirth,
			#monthOfBirth,
			#yearOfBirth {
				padding: 0.525em 1em 0.6125em;
				background: $whiteColor;
				color: $primaryColor;
				border-radius: 5px;
				min-width: 60px;
				text-align: center;
			}
		}

		label {
			opacity: 0;
			position: absolute;
			top: 10px;
			left: 0;
			font-size: 0.8rem;
			font-weight: 400;
			letter-spacing: 0.5px;
			transition: all 0.1s;
			color: $greyColor;

			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 90%;

			@media screen and ($small) {
				font-size: 0.75rem;
				left: 7.5px;
			}

			&.visited {
				opacity: 1;
				top: -25px;
				left: 0;
				transition: all 0.1s;
				color: lighten($tertiaryColor, 10);

				@media screen and ($small) {
					font-size: 0.75rem;
				}
			}
		}

		// -------------------------- column 1
		&.firstName {
			flex: 50%;
		}
		&.lastName {
			flex: 50%;
		}

		// -------------------------- column 2
		&.streetName {
			flex: 50%;
		}
		&.houseNumber {
			flex: 25%;
		}
		&.zipCode {
			flex: 25%;
		}

		// -------------------------- column 3
		&.city {
			flex: 50%;
		}
		&.province {
			flex: 50%;
		}

		// -------------------------- column 4
		&.email {
			flex: 70%;
		}

		&.gender {
			flex: 30%;
			// @include specialLabels;

			@media screen and ($small) {
				flex: 27.5%;
			}
		}

		// -------------------------- column 5
		&.phone {
			width: 50%;

			@media screen and ($small) {
				flex: 37.5%;
			}
		}
		&.dateOfBirth {
			flex: 50%;
			@include specialLabels;

			@media screen and ($small) {
				flex: 35%;
			}
		}

		// -------------------------- column 6

		// -------------------------- column 7
		&.discover {
			flex: 100%;
		}

		// -------------------------- column 8
		&.comments {
			flex: 100%;
			label {
				top: 17.5px;
				&.visited {
					top: -25px;
				}
			}
		}

		// -------------------------- column 9
		&.firstNameParent {
			flex: 50%;
		}
		&.lastNameParent {
			flex: 50%;
		}

		// -------------------------- column 10

		&.emailParent {
			flex: 50%;
		}
		&.phoneParent {
			flex: 50%;
		}
	}
}
