@import 'configs/globals';

.error {
	outline-width: 3px;
	outline-style: solid;
	outline-color: $redColor;
}

.approved {
	outline-width: 3px;
	outline-style: solid;
	outline-color: $greenColor;
}

.reset {
	outline-width: 3px;
	outline-style: solid;
	outline-color: lightgreyColor;
}

input,
textarea,
select {
	height: 44px;
	opacity: 0.99;
	line-height: 1.5;

	outline-width: 2px;
	outline-style: solid;
	outline-color: $lightgreyColor;

	&::placeholder {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100%;

		@media screen and ($small) {
			font-size: 0.9rem;
		}
	}

	&:focus {
		outline-width: 2px;
		outline-style: solid;
		outline-color: #007bff;

		&::placeholder {
			opacity: 0;
		}
	}

	&:-webkit-autofill {
		outline-color: $greenColor;
	}
}

.form {
	&-column {
		display: flex;
		justify-content: space-between;
		gap: 15px;

		&:not(:last-child) {
			margin-bottom: 2.25em;
		}

		&.mobileOne {
			@media screen and ($small) {
				flex-direction: column;
				gap: 35px;

				.date-inputs {
					justify-content: start;
					gap: 15px;
				}
			}
		}

		&.mobileTwo {
			@media screen and ($small) {
				flex-wrap: wrap;
				row-gap: 35px;
				justify-content: flex-start;
			}
		}
	}

	&-group {
		position: relative;

		.date-inputs {
			display: flex;
			justify-content: space-between;
			gap: 10px;

			#dayOfBirth,
			#monthOfBirth,
			#yearOfBirth {
				padding: 0.625em 0.75em;
				background: $whiteColor;
				color: $primaryColor;
				border-radius: 5px;
				min-width: 60px;
				text-align: center;

				@media screen and ($small) {
					padding: 0.75em;
					border-radius: 3px;
					font-size: 0.9rem;
					min-width: 70px;
				}
			}
		}

		label {
			opacity: 0;
			position: absolute;
			top: 10px;
			left: 0;
			font-size: 0.8rem;
			font-weight: 400;
			letter-spacing: 0.5px;
			transition: all 0.1s;
			color: $greyColor;

			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 90%;

			@media screen and ($small) {
				font-size: 0.75rem;
			}

			&.visited {
				opacity: 1;
				top: -25px;
				left: 0;
				transition: all 0.1s;
				color: lighten($tertiaryColor, 10);

				@media screen and ($small) {
					font-size: 0.75rem;
				}
			}
		}

		// -------------------------- column 1
		&.firstName {
			flex: 50%;
		}
		&.lastName {
			flex: 50%;
		}

		// -------------------------- column 2
		&.streetName {
			flex: 55%;

			@media screen and ($small) {
				flex: 100%;
			}
		}
		&.houseNumber {
			@media screen and ($small) {
				width: 30%;
			}
		}
		&.zipCode {
			@media screen and ($small) {
				width: 30%;
			}
		}

		// -------------------------- column 3
		&.city {
			flex: 50%;
		}
		&.province {
			flex: 50%;
		}

		// -------------------------- column 4
		&.email {
			flex: 70%;

			@media screen and ($small) {
				flex: 65%;
			}
		}

		&.gender {
			flex: 30%;
			// @include specialLabels;

			@media screen and ($small) {
				flex: 35%;
			}
		}

		// -------------------------- column 5
		&.phone {
			flex: 50%;

			@media screen and ($small) {
				flex: 100%;
			}
		}
		&.dateOfBirth {
			flex: 50%;
			@include specialLabels;

			@media screen and ($small) {
				flex: 35%;
				gap: 15px;
			}
		}

		// -------------------------- column 6

		// -------------------------- column 7
		&.discover {
			flex: 100%;
		}

		// -------------------------- column 7 (optional)
		&.answer {
			flex: 100%;
			margin-top: -17.5px;
		}

		// -------------------------- column 8
		&.comments {
			flex: 100%;
			label {
				top: 17.5px;
				&.visited {
					top: -25px;
				}
			}
		}

		// -------------------------- column 9
		&.firstNameParent {
			flex: 50%;
		}
		&.lastNameParent {
			flex: 50%;
		}

		// -------------------------- column 10

		&.emailParent {
			flex: 50%;
		}
		&.phoneParent {
			flex: 50%;
		}
	}
}
