@import 'configs/globals';

.swiper {
	&-button-prev,
	&-button-next {
		color: var(--swiper-theme-color);
		transform: scale(0.75);

		@media screen and ($small) {
			transform: scale(0.5);
		}
	}

	&-scrollbar-drag {
		background: var(--swiper-theme-color);
	}

	&-pagination-bullet-active {
		background: var(--swiper-pagination-color, var(--swiper-theme-color));
	}
}
