@use "../../customs" as *;

.vacancies {
	li {
		background-color: $paper-color;
		width: fit-content;

		@include box-shadow;

		a {
			display: flex;
			gap: 1em;
			padding: 1.5em 2.5em;
			align-items: center;

			@media screen and ($small) {
				padding: 1em;
			}

			span {
				font-weight: 800;
				color: $link-color;
			}

			:nth-child(2) {
				font-size: 0.875rem;
			}

			&:hover {
				outline: 2px solid $link-color;
			}
		}
	}
}
