$primary-color: #181a37;
$secondary-color: #f6ce0e;
$tertiary-color: #4169e1;

// $black-color: #191919;
$white-color: #fff;
$smoke-color: #f5f5f5;
$grey-color: #87898b;
$lightgrey-color: #ccc;
$paper-color: #80808010;

$trans-grey: #808080;

$red-color: #d0342c;
$green-color: #45ab2b;

$link-color: #007bff;
