$primaryColor: #181a37;
$secondaryColor: #f6ce0e;
$tertiaryColor: #4169e1;

$blackColor: #191919;
$whiteColor: #fff;
$smokeColor: #f5f5f5;
$greyColor: #87898b;
$lightgreyColor: #ccc;
$paperColor: #80808010;

$transGrey: #808080;

$redColor: #d0342c;
$greenColor: #45ab2b;

$linkColor: #007bff;
