@use "sass:math";
@use "sass:list";

@function rem-calc($values, $base-font-size: 16) {
    $result: ();

    @each $value in $values {
        $converted: null;
        @if $value == 0 {
            $converted: 0;
        } @else {
            $converted: math.div($value, $base-font-size) * 1rem;
        }
        $result: list.append($result, $converted);
    }

    @return $result;
}
