$ultraSmall: 'max-width: 320px';
$heavySmall: 'max-width: 360px';
$superSmall: 'max-width: 420px';
$extraSmall: 'max-width: 480px';
$small: 'max-width: 576px';
$medium: 'max-width: 768px';
$large: 'max-width: 992px';
$extraLarge: 'max-width: 1200px';
$superSized: 'max-width: 1400px';
$ultraSized: 'max-width: 1700px';
$massive: 'max-width: 1600px';

$tothemoon: 'min-width: 1601px';

$portrait: 'orientation: portrait';
$landscape: 'orientation: landscape';
