// Desktop-first media query mixins

$ultra-small: "max-width: 320px";
$heavy-small: "max-width: 360px";
$super-small: "max-width: 420px";
$extra-small: "max-width: 480px";
$small: "max-width: 576px";
$medium: "max-width: 768px";
$large: "max-width: 992px";
$extra-large: "max-width: 1200px";
$super-sized: "max-width: 1400px";
$ultra-sized: "max-width: 1700px";
$massive: "max-width: 1600px";

$tothemoon: "min-width: 1601px";

$portrait: "orientation: portrait";
$landscape: "orientation: landscape";

// Mobile-first media query mixins

@mixin mini {
	// 368px
	@media (width >= 23em) {
		@content;
	}
}

@mixin compact {
	// 480px
	@media (width >= 30em) {
		@content;
	}
}

@mixin mobile {
	// 640px
	@media (width >= 40em) {
		@content;
	}
}

@mixin phablet {
	// 768px
	@media (width >= 52em) {
		@content;
	}
}

@mixin tablet {
	// 1024px
	@media (width >= 64em) {
		@content;
	}
}

@mixin laptop {
	// 1280px
	@media (width >= 76em) {
		@content;
	}
}

@mixin desktop {
	// 1440px
	@media (width >= 90em) {
		@content;
	}
}

@mixin wide {
	// 1600px
	@media (width >= 100em) {
		@content;
	}
}

@mixin massive {
	// 1920px
	@media (width >= 120em) {
		@content;
	}
}

// Orientation-based media queries (for mobile-first)

@mixin landscape {
	@media (width >= 23em) and (width <= 64em) and (orientation: landscape) {
		@content;
	}
}
