@mixin fluid-typing($font-min, $font-max, $screen-min: 320, $screen-max: 1800) {
    font-size: #{$font-min}px;

    @media only screen and (min-width: #{$screen-min}px) {
        /* stylelint-disable-next-line no-invalid-position-declaration */
        font-size: calc(
            #{$font-min}px + #{($font-max - $font-min)} *
                (100vw - #{$screen-min}px) / (#{$screen-max} - #{$screen-min})
        );
    }

    @media only screen and (min-width: #{$screen-max}px) {
        /* stylelint-disable-next-line no-invalid-position-declaration */
        font-size: #{$font-max}px;
    }
}
