// BORDER-RADIUS
$border-radius-xs: 2px;
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 12px;
$border-radius-xl: 16px;
$border-radius-2xl: 20px;
$border-radius-3xl: 24px;

// FONT-SIZE
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;

// SCREENSIZE
$screen-sm: 600px;
$screen-md: 800px;
$screen-lg: 1000px;
$screen-xl: 1200px;
