@use "sass:color";

@use "../../customs" as *;

.bookings {
	&-container {
		@include ep-layout("reverse", flex-start);

		@extend %form-page;
	}

	&-wrapper {
		@extend %form-style;
	}

	&-submit {
		@extend %form-submit;

		&-error {
			text-decoration: underline;
			text-decoration-color: $red-color;
		}

		&-approved {
			text-decoration: underline;
			text-decoration-color: $green-color;
		}
	}

	&-info {
		@include box;
	}
}
