@use "sass:color";

@use "../../customs" as *;

.newsletter {
	display: block;
	margin: 0 auto;
	min-width: 100%;
	width: 100%;
	margin-top: rem-calc(16);

	@include mobile {
		min-width: rem-calc(425);
		max-width: rem-calc(550);
	}

	@include phablet {
		margin-top: unset;
	}

	form {
		background: linear-gradient(
			45deg,
			$primary-color,
			color.scale($primary-color, $lightness: 5%)
		);
		color: $white-color;
		padding: rem-calc(24 32);
		border-radius: $border-radius-md;

		@include box-shadow;

		@media screen and ($small) {
			padding: rem-calc(24 20);
		}

		> fieldset {
			display: flex;
			flex-direction: column;

			&:nth-of-type(2) {
				margin: rem-calc(32 0);
			}

			> legend {
				font-weight: 600;
				margin-bottom: rem-calc(32);

				@include fluid-typing(18, 20);
			}

			input {
				padding: rem-calc(8 10 10);
				width: 100%;
				border-radius: $border-radius-sm;

				@include base-transition(outline-color);
			}
		}
	}

	&form-submit {
		display: flex;
		flex-direction: column;
		margin: rem-calc(32 0 16);

		> div {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;

			> span {
				font-size: rem-calc(14);
				text-underline-offset: 4px;
				text-decoration-thickness: 2px;
				padding-left: rem-calc(4);
			}

			> button {
				margin-left: auto;

				@include button-style(
					$white-color,
					$primary-color,
					$white-color,
					$tertiary-color
				);

				&:disabled {
					opacity: 0.5;
					cursor: not-allowed;
				}
			}
		}

		> ul {
			display: flex;
			flex-direction: column;
			gap: rem-calc(12);
			margin-top: rem-calc(16);
			padding: rem-calc(24 4);
			border-top: solid 2px color.adjust($dark-grey, $alpha: -0.9);
			border-bottom: solid 2px color.adjust($dark-grey, $alpha: -0.9);

			> li {
				background-color: $red-color;
				border-radius: $border-radius-xs;
				padding: rem-calc(4 12);
				font-size: rem-calc(12);
				width: fit-content;
				outline: 1px rgba(255 255 255 / 75%) solid;
			}
		}

		&-error {
			text-decoration: underline;
			text-decoration-color: $red-color;
		}

		&-approved {
			text-decoration: underline;
			text-decoration-color: $green-color;
		}
	}
}
