@use "sass:color";

@use "../../customs" as *;

.newsletter {
	display: block;
	margin: 0 auto;
	min-width: 100%;
	width: 100%;
	margin-top: rem-calc(16);

	@include mobile {
		min-width: rem-calc(425);
		max-width: rem-calc(550);
	}

	@include phablet {
		margin-top: unset;
	}

	form {
		@extend %form-style;
	}

	&-submit {
		@extend %form-submit;

		&-error {
			text-decoration: underline;
			text-decoration-color: $red-color;
		}

		&-approved {
			text-decoration: underline;
			text-decoration-color: $green-color;
		}
	}
}
