@use "sass:color";

@use "../../customs" as *;

.register {
	&-wrapper {
		max-width: 600px;

		@extend %form-style;

		@include box-shadow;

		> h2 {
			text-decoration: underline;
			text-decoration-color: $tertiary-color;
			text-underline-offset: 4px;
		}

		> span {
			font-size: 1.125rem;
			font-weight: 600;
			margin-bottom: 1.5em;
			display: block;
		}

		form {
			margin-bottom: 1.5rem;
		}
	}

	&-submit {
		@extend %form-submit;

		&-error {
			text-decoration: underline;
			text-decoration-color: $red-color;
		}

		&-approved {
			text-decoration: underline;
			text-decoration-color: $green-color;
		}
	}

	&-conditions {
		ul {
			list-style-type: disc;
			margin-left: 1.5em;

			li:not(:last-child) {
				padding-bottom: 0.5em;
			}
		}

		> * {
			font-size: 0.95rem;
			padding-bottom: 1em;
		}

		> p:not(:first-child) {
			padding-top: 1em;
		}

		> p:last-child {
			font-size: 0.9rem;
			text-align: center;
		}
	}
}
