@use "sass:color";

@use "../../customs" as *;

.register {
    &-wrapper {
        max-width: rem-calc(600);

        @extend %form-style;

        @include box-shadow;

        @include mobile {
            min-width: rem-calc(500);
        }

        > h2 {
            text-decoration: underline;
            text-decoration-color: $tertiary-color;
            text-underline-offset: 4px;
        }

        > span {
            font-size: rem-calc(18);
            font-weight: 600;
            margin-bottom: rem-calc(24);
            display: block;
        }

        > small {
            display: block;
            margin-bottom: rem-calc(24);

            > span {
                color: $red-color;
            }
        }

        > form {
            margin-bottom: rem-calc(24);
        }
    }

    &-conditions {
        > ul {
            list-style-type: disc;
            margin-left: rem-calc(24);
            margin-bottom: rem-calc(16);
            font-size: rem-calc(16);

            li:not(:last-child) {
                padding-bottom: rem-calc(8);
            }
        }

        > p {
            font-size: rem-calc(16);
            margin-bottom: rem-calc(16);

            &:nth-of-type(2) {
                margin-top: rem-calc(32);
            }

            &:last-child {
                font-size: rem-calc(14);
                text-align: center;
                margin-top: rem-calc(32);
            }
        }
    }
}
