@use "../../customs" as *;

.cta {
	$cta: &;

	display: flex;
	gap: rem-calc(16);
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	margin-top: rem-calc(28);
	margin-bottom: rem-calc(32);
	width: 100%;

	@include laptop {
		margin-top: auto;
	}

	@include desktop {
		position: absolute;
		right: 0;
		top: 0;
	}

	> a {
		@include button-style(
			$primary-color,
			$white-color,
			$primary-color,
			$secondary-color
		);

		&#{$cta}-special {
			@include button-style(
				$tertiary-color,
				$white-color,
				$tertiary-color,
				$secondary-color
			);
		}

		&:nth-child(1) {
			@include mobile {
				order: 1;
			}
		}

		&:nth-child(2) {
			@include mobile {
				order: 3;
			}
		}

		&:nth-child(3) {
			@include mobile {
				order: 2;
			}
		}

		&:nth-child(4) {
			@include mobile {
				order: 4;
			}
		}
	}
}
