@use "../../customs" as *;

.maps-container {
	height: rem-calc(225);
	width: 100%;
	max-width: rem-calc(600);
	border-radius: $border-radius-sm;
	outline: 2px solid $lightgrey-color;
	overflow: hidden;
	filter: grayscale(75%);

	@include phablet {
		height: rem-calc(275);
	}

	.marker {
		img {
			width: rem-calc(50);
		}
	}
}
