@use "sass:color";

@use "../../customs" as *;

.posts {
	> h2 {
		text-align: center;
		margin-bottom: rem-calc(20);
	}

	> ul {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: rem-calc(32);

		> li {
			outline: 2px solid $primary-color;
			border-radius: $border-radius-md;
			overflow: hidden;
			position: relative;
			display: flex;
			flex-direction: column;
			background: linear-gradient(
				45deg,
				$primary-color,
				color.scale($primary-color, $lightness: 25%)
			);

			@include base-transition(all);
			@include box-shadow;

			@include compact {
				max-width: rem-calc(350);
			}

			&:hover {
				outline-color: $secondary-color;

				.post {
					&-link {
						color: $secondary-color;
					}

					&-image {
						transform: scale(1.05);

						@include base-transition(all, 0.2s);
					}
				}
			}

			&:not(:hover) img {
				transform: scale(1);

				@include base-transition(all, 0.2s);
			}

			&:active {
				outline-color: $link-color;
			}

			> a {
				display: block;
				height: rem-calc(325);
				overflow: hidden;

				img.post-image {
					width: 100%;
					height: 100%;
					border-bottom: 1px solid color.adjust($dark-grey, $alpha: -0.75);
					object-fit: cover;
					overflow: hidden;

					@include base-transition(all, 0.3s);
				}
			}

			> div {
				padding: rem-calc(16);
				display: flex;
				flex-direction: column;
				flex-grow: 1;

				> h3 {
					a.post-link {
						color: $white-color;

						@include clamp(2);

						&:hover {
							color: color.adjust($link-color, $lightness: 10%);
						}
					}
				}

				> span {
					position: absolute;
					top: rem-calc(16);
					right: rem-calc(16);
					background-color: $primary-color;
					color: $white-color;
					padding: rem-calc(4 8);
					border-radius: $border-radius-sm;
				}

				> p {
					max-width: 95%;
					margin: rem-calc(12 0 32);
					color: $white-color;

					@include clamp(3);

					@include fluid-typing(16, 18);
				}

				> hr {
					height: rem-calc(3);
					border-width: 0;
					color: color.adjust($dark-grey, $alpha: -0.9);
					background-color: color.adjust($dark-grey, $alpha: -0.9);
					margin: auto rem-calc(0 16);
				}

				> div {
					display: flex;
					justify-content: space-between;
					align-items: center;

					> time {
						font-size: rem-calc(14);
						color: color.adjust($white-color, $lightness: -25%);
					}

					> a {
						color: color.adjust($tertiary-color, $lightness: 10%);

						&:hover {
							color: color.adjust($link-color, $lightness: 10%);
						}
					}
				}
			}
		}
	}
}
