@use "sass:color";

@use "../../customs" as *;

.breadcrumbs {
	$breadcrumbs: &;

	max-width: 100%;
	margin-left: auto;
	position: static;
	width: fit-content;
	margin-bottom: rem-calc(32);

	@include mobile {
		margin-bottom: rem-calc(24);
	}

	@include laptop {
		position: absolute;
		right: 0;
		top: 0;
	}

	&-list {
		display: flex;
		align-items: center;
		background: linear-gradient(
			45deg,
			$primary-color,
			color.scale($primary-color, $lightness: 5%)
		);
		width: fit-content;
		white-space: nowrap;
		border-radius: $border-radius-sm;
		margin-left: auto;
		padding: rem-calc(8 16);
		gap: rem-calc(10);

		@include box-shadow;

		@include mobile {
			gap: rem-calc(16);
			padding: rem-calc(10 16);
		}

		#{$breadcrumbs}-item {
			display: block;

			> a {
				color: $white-color;

				@include fluid-typing(14, 16);

				&:hover {
					color: color.adjust($tertiary-color, $lightness: 15%);
				}

				#{$breadcrumbs}-home {
					color: $white-color;

					@include fluid-typing(16, 20);

					&:hover {
						color: color.adjust($tertiary-color, $lightness: 15%);
					}
				}
			}

			#{$breadcrumbs}-seperator {
				margin-left: rem-calc(16);
				color: $white-color;
				vertical-align: 0;

				@include fluid-typing(12, 14);

				@include mobile {
					vertical-align: baseline;
				}
			}

			#{$breadcrumbs}-page {
				color: $secondary-color;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				font-weight: 600;

				@include fluid-typing(14, 16);
			}
		}
	}
}
