@use "sass:color";

@use "../../customs" as *;

.breadcrumbs {
	$breadcrumbs: &;

	max-width: 100%;
	margin-left: unset;
	position: static;
	width: fit-content;
	margin-bottom: rem-calc(8);
	margin-top: rem-calc(8);

	// bloaty

	#post-template & {
		margin-top: rem-calc(32);
	}

	@include mobile {
		margin-bottom: rem-calc(24);
	}

	@include phablet {
		margin-left: auto;
	}

	@include laptop {
		position: absolute;
		right: 0;
		top: 0;
		margin-top: auto;

		// bloaty
	}

	&-list {
		display: flex;
		align-items: center;
		width: fit-content;
		white-space: nowrap;
		border-radius: $border-radius-sm;
		margin-left: auto;
		padding: rem-calc(8 16 10 4);
		gap: rem-calc(10);

		@include mobile {
			gap: rem-calc(16);
		}

		@include phablet {
			// bloaty
			color: $white-color;
			padding: rem-calc(10 16 10);
			background: linear-gradient(
				45deg,
				$primary-color,
				color.scale($primary-color, $lightness: 5%)
			);

			@include box-shadow;
		}

		#{$breadcrumbs}-item {
			display: flex;
			align-items: center;

			> a {
				font-weight: 600;

				@include fluid-typing(14, 16);

				@include mobile {
					color: $white-color;
				}

				&:hover {
					color: color.adjust($tertiary-color, $lightness: 15%);
				}

				#{$breadcrumbs}-home {
					color: $primary-color;

					@include fluid-typing(16, 20);

					@include phablet {
						color: $white-color;
					}

					&:hover {
						color: color.adjust($tertiary-color, $lightness: 15%);
					}
				}
			}

			#{$breadcrumbs}-seperator {
				margin-left: rem-calc(10);
				padding-top: 2px;

				@include fluid-typing(16, 18);

				@include mobile {
					margin-left: rem-calc(16);
				}

				@include phablet {
					color: $white-color;
				}
			}

			#{$breadcrumbs}-page {
				color: $grey-color;
				font-weight: 600;

				@include ellipsis;

				@include fluid-typing(14, 16);

				@include phablet {
					color: $secondary-color;
				}
			}
		}
	}
}
