@use "sass:color";

@use "../../customs" as *;

.footer {
    $footer: &;

    border-top: 1px solid $lightgrey-color;
    background: linear-gradient(
        145deg,
        $secondary-color,
        color.scale($secondary-color, $lightness: 25%)
    );

    @include box-shadow;

    &-container {
        padding: rem-calc(48 16 0);

        @include container;

        @include mobile {
            padding: rem-calc(64 24 0);
        }

        #{$footer}-top {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: rem-calc(32);
            margin-bottom: rem-calc(64);

            > * {
                flex: 1 1 100%;

                @include phablet {
                    flex: 1 1 calc(50% - 16px);
                }

                @include desktop {
                    flex: 1;
                }
            }

            #{$footer}-column {
                min-width: rem-calc(300);

                > span {
                    display: block;
                    margin-bottom: rem-calc(8);
                }

                > small {
                    display: block;
                    font-weight: 600;
                    font-size: rem-calc(16);
                    font-style: italic;
                    opacity: 0.75;
                }

                > p {
                    margin: rem-calc(20 0 32);

                    @include fluid-typing(18, 20);
                }

                > ul {
                    margin: rem-calc(10 0 24);

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    > li {
                        padding: rem-calc(8 0);
                        display: flex;
                        align-items: center;
                        gap: rem-calc(8);

                        @include fluid-typing(16, 18);

                        &:has(svg) {
                            gap: rem-calc(16);
                        }

                        > a {
                            @include smooth-trans(color);

                            &:hover {
                                color: color.adjust(
                                    $tertiary-color,
                                    $lightness: -10%
                                );
                            }
                        }

                        > div {
                            min-width: rem-calc(30);
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            > svg {
                                color: $primary-color;
                                font-size: rem-calc(24);
                                vertical-align: middle;
                                align-self: flex-start;
                            }
                        }
                    }
                }
            }

            #{$footer}-row {
                &-one {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: rem-calc(32);

                    @include phablet {
                        flex-direction: row;
                    }

                    @include tablet {
                        flex-direction: column;
                    }

                    @include desktop {
                        gap: rem-calc(48);
                    }

                    > div {
                        @include phablet {
                            flex: 1;
                        }

                        @include desktop {
                            flex: unset;
                        }
                    }

                    #{$footer}-logo {
                        width: rem-calc(125);

                        @include mobile {
                            width: rem-calc(150);
                        }

                        &-social {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: rem-calc(32);
                            margin: 0 auto;

                            @include phablet {
                                margin: unset;
                                flex-direction: column;
                                align-items: flex-start;
                            }

                            @include tablet {
                                justify-content: center;
                            }

                            @include desktop {
                                justify-content: normal;
                                flex-direction: column;
                                gap: rem-calc(48);
                            }

                            #{$footer}-social-icons {
                                display: flex;
                                margin-top: rem-calc(16);
                                gap: rem-calc(16);

                                > li {
                                    > a {
                                        > svg {
                                            color: $primary-color;

                                            @include fluid-typing(24, 28);

                                            &:hover {
                                                color: $tertiary-color;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            #{$footer}-fb-plugin {
                text-align: center;
                margin-top: rem-calc(48);
                display: block;
            }
        }
    }

    &-bottom {
        background: linear-gradient(
            45deg,
            $primary-color,
            color.scale($primary-color, $lightness: 5%)
        );
        color: $white-color;
        padding: rem-calc(12 0);
        display: flex;
        justify-content: center;

        @include full-width;

        @include box-shadow;

        @include mobile {
            padding: rem-calc(16 0);
        }

        > p {
            text-align: center;

            @include fluid-typing(10, 14);
        }

        a {
            display: inline-flex;
            align-items: center;
            color: $secondary-color;
            filter: grayscale(100%);

            &:hover {
                filter: grayscale(0%);
            }

            img {
                max-width: rem-calc(20);
                max-height: rem-calc(20);
                margin-left: rem-calc(6);
            }
        }
    }
}
