@use "../../customs" as *;

.swiper {
	&-container {
		margin-bottom: rem-calc(16);

		@include full-width;

		@include mobile {
			margin-bottom: rem-calc(24);
			width: 100%;
			position: static;
			margin-left: auto;
			margin-right: auto;
			left: auto;
			right: auto;
		}

		.autoplay-progress {
			position: absolute;
			z-index: 1;
			right: rem-calc(16);
			bottom: rem-calc(16);
			width: rem-calc(32);
			height: rem-calc(32);
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: bold;
			opacity: 0.875;
			color: var(--swiper-theme-color-text);

			@media screen and ($small) {
				transform: scale(0.5);
			}
		}

		.autoplay-progress svg {
			--progress: 0;

			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			stroke-width: 4px;
			stroke: var(--swiper-theme-color);
			fill: none;
			stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
			stroke-dasharray: 125.6;
			transform: rotate(-90deg);
		}
	}

	&-wrapper {
		border-radius: 0;

		@include ep-wrapper;

		@include mobile {
			border-radius: $border-radius-md;
		}
	}

	&-image {
		opacity: 0.75;

		img {
			object-position: center 25%;
			max-height: rem-calc(237.5);

			@include mini {
				max-height: rem-calc(275);
			}

			@include compact {
				max-height: rem-calc(325);
			}

			@include mobile {
				max-height: rem-calc(375);
			}

			@include phablet {
				max-height: rem-calc(425);
			}

			@include tablet {
				max-height: rem-calc(475);
			}

			@include laptop {
				max-height: rem-calc(525);
			}

			@include desktop {
				max-height: rem-calc(575);
			}

			@include wide {
				max-height: rem-calc(625);
			}

			@include massive {
				max-height: rem-calc(637.5);
			}
		}
	}

	&-slide {
		overflow: hidden;
		border-radius: 0;

		@include ep-wrapper;

		@include mobile {
			border-radius: $border-radius-md;
		}
	}
}
