@use "../../customs" as *;

.mobile-menu {
	position: fixed;
	top: 0;
	height: 100%;
	width: rem-calc(325);
	left: rem-calc(-325);
	background-color: rgba($primary-color, 75%);
	border-right: 3px solid rgba($tertiary-color, 0.3);
	overflow-x: hidden;
	z-index: 6;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: rem-calc(64 32);

	@include box-shadow;

	@include mobile {
		width: rem-calc(400);
		left: rem-calc(-400);
	}

	.close {
		&-button {
			position: absolute;
			width: rem-calc(35);
			height: rem-calc(35);
			top: rem-calc(20);
			right: rem-calc(20);
			padding: rem-calc(16);
			background-color: $white-color;
			border-radius: $border-radius-sm;
			z-index: 7;
			transform: scale(0.875);
			cursor: pointer;

			@include mobile {
				transform: scale(1);
			}

			&-bar {
				top: rem-calc(5);
				right: rem-calc(16);
				width: rem-calc(3);
				height: rem-calc(25);
				position: absolute;
				background-color: $primary-color;
				border-radius: $border-radius-3xl;
				transform: rotate(45deg);
				transition: transform 0.3s ease-in-out;

				&:first-child {
					transform: rotate(-45deg);
				}
			}
		}
	}

	> ul {
		list-style: none;
		padding: 0;
		margin: auto 0;
		width: 100%;

		> li {
			padding: rem-calc(12 0);
			font-family: $bebas-neue;
			position: relative;

			@include mobile {
				padding: rem-calc(16 0);
			}

			> a {
				text-decoration: none;
				color: $white-color;
				font-size: rem-calc(20);
				letter-spacing: 1px;

				@include mobile {
					font-size: rem-calc(24);
				}

				&.special {
					color: $white-color;
					background-color: $tertiary-color;
					padding: rem-calc(10 14 8);
					margin-left: rem-calc(-1);

					&.active-menu-item {
						color: $secondary-color;
						background-color: $tertiary-color;
					}
				}
			}

			> button {
				font-size: rem-calc(16);
				background-color: $white-color;
				color: rgba($primary-color, 75%);
				width: rem-calc(20);
				height: rem-calc(20);
				text-align: center;
				border-radius: $border-radius-xs;
				position: absolute;
				top: rem-calc(16);
				padding: 0;
				right: 0;
				cursor: pointer;

				svg {
					vertical-align: unset;
					height: -webkit-fill-available;
				}

				@include mobile {
					border-radius: $border-radius-sm;
					top: rem-calc(20);
					width: rem-calc(24);
					height: rem-calc(24);
				}
			}

			.active-menu-item {
				color: $secondary-color;
			}

			&:has(ul) {
				position: relative;

				> ul {
					width: 100%;
					margin-top: rem-calc(4);
					list-style-type: square;
					list-style-position: inside;

					@include mobile {
						margin-top: rem-calc(8);
					}

					> li {
						padding: rem-calc(8 0 2);

						@include mobile {
							padding: rem-calc(8);
						}

						&::marker {
							color: $tertiary-color;
						}

						> a {
							text-decoration: none;
							color: $white-color;
							font-size: rem-calc(20);
							letter-spacing: 0.5px;

							@include mobile {
								font-size: rem-calc(24);
							}
						}
					}
				}
			}
		}
	}

	&.open {
		left: 0;
		transition: left 0.3s ease;
	}

	&.close {
		transition: left 0.3s ease;
		left: rem-calc(-325);

		@include mobile {
			left: rem-calc(-400);
		}

		.close-button,
		> ul {
			display: none;
		}
	}
}
